@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: Inter;
}
body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth !important;
  /* flex-wrap: wrap; */
  /* min-height: 1000vh; */
  /* gap: 1vh; */
}
/* ///////////////////////////////////backToTop//////////////////////////////// */

.back-to-top{
    position: fixed;
    right: 0%;
    bottom: 1%;
    z-index: 10000;
    width: 3em;
    height: 3em;
     text-align: center;
    background-color: #D9A734;
    /* height:em; */
}

.back-to-top img{
    width:100%;
}

/* ///////////////////////////div-before-header//////////////////////////// */
.befor-header {
  font-size: 12px;
  text-transform: uppercase;

  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.bef-hed-drop {
  /* background-color: aqua; */
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  /* box-shadow:; */
}




/* /////////////////////////////heder////////////////////////////// */
header {
  width: 100% !important;
  z-index: 500000000000000000000000000000;
  background-color: aliceblue;
height: 20vh !important;
  padding: 5% !important;
}

.offcanvas-body{
    gap: 1% !important;
}
.offcanvas a{
    width: 100% !important;
     padding: 5% 15% !important;
     text-decoration: underline;
     text-underline-offset: 5px;
     color: black;
     font-size: larger;
     font-weight: 700;
     letter-spacing: 5px ;
     text-transform: uppercase;
}

.offcanvas a:hover{
    color: lightgray;
}

header .hed-left img {
  width: 50px !important;
  height: 50px !important;
  padding: 5% !important;
}

.right-offcanvas-body-con {
  border: 1px solid rgb(235 235 235) !important;
  border-radius: 25% !important;
  height: 10%;
  -webkit-border-radius: 1% !important;
  -moz-border-radius: 25% !important;
  -ms-border-radius: 25% !important;
  -o-border-radius: 25% !important;
  /* background-color: aqua !important; */
}

.right-offcanvas-body input {
    width: 80%;
  height: fit-content;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.right-offcanvas-body a[href="./products/products.html"] {
  width: 20% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.right-offcanvas-body a img {
  width: 50% !important;

  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

header .hed-right div{
    width: calc(90%/3) ;
    padding: 5% ;
}

header .hed-right div img {
  width: 40% ;
}

.hed-right-div-counter {
  position: absolute;
  width: 30% !important;
  height: 70% !important;
  right: 15%;
  top: -25%;
  background-color: black;
  text-align: center;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.div1-hed-right-pepole:hover .pepole-form
{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 2rem !important;
    width: 25em !important;
    background-color: #000000cc;
    top: 1.5rem;
    right: -8em;
}
.pepole-form input{
    width: 100%;
    height: 7vh;
    border: 1px solid gray;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

.pepole-form-down {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.pepole-form-down button
{
    width: 30%;
    height: fit-content;
    padding: 5% !important;
}
.pepole-form-down .form-check
{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;

}
.pepole-form-down .form-check input{
    width: 2vw;
    height: 4vh;
}


/* ///////////////////////////////////////////////////////////////////// */

.contact-img-con{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    /* z-index: 900 !important; */
    /* -webkit-filter: brightness(50%); */
}

.contact-img-con img{
    width: 100%;
    filter: brightness(50%);

}


.contact-img-con>h1{
    position: absolute !important;
    top: 30%;

    z-index: 1000 !important;
    color: white !important;
}


.contact-img-con form{

    width: 90%;
    position: absolute;
    top: 70%;
    background-color: white;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid transparent;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 10vh !important;

}

.form-leftDiv{
    width: 30%;
    /* background-color: #D9A734; */
    color: black;
    /* margin: 0% 0 !important; */
    padding: 1% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    height: 100%;
}

.form-leftDiv-h{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 5% !important;
    /* background-color: #D9A734; */

}

.informations{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 10px;
}

.informations a{
    color: black;
}
.informations .p-gray{
    color: gray;
}

.form-leftDiv h1{

    width: 100%;
    font-size: 50px;
    /* background-color: aqua; */
    height: fit-content;
    /* align-self: center; */
}



.form-rightDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: start;
    /* gap: 1em; */
    width: 60%;
    height: 100%;
    padding: 1% !important;

    /* background-color: blue; */
    /* flex-wrap: wrap; */
}

.form-rightDiv-h1{
    width: 100%;
    max-width: 100%;
    /* background-color: #a08f68; */
    margin: 5% 0 !important;
    color: black;
    letter-spacing: 3px;
    font-weight: bolder;
    font-size:40px;
}

.form-rightDiv .inp{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-rightDiv input[type="text"] ,.form-rightDiv input[type="email"]
{
    width: 47%;
    border: 1px solid black;
    padding: 3% !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    text-align: left;
}
.form-rightDiv input[placeholder="Enter your subject"]
{
    width: 100% ;
}
textarea
{
    width: 100%;
    padding: 2% !important;
}
.form-rightDiv button{
    width: 100%;
    padding: 2% !important;
}

.iframe{
    width: 100% !important;
    height: 100vh !important;
    margin-top: 105vh !important;
}
iframe{
    width: 100% !important;
    height: 100% !important;
}


/* /////////////////////////////////////////////////////////////////// */


footer{
    width: 90% !important;
    height: 70vh !important;
    margin-top: 10vh !important;
    display: flex !important;
    flex-direction: column !important;
    align-self: center !important;
}
.footer-div1{
    width: 100% !important;
    height: 80% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.footer-div1>div{
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: start !important;
    gap: 10%;
    align-items: start !important;
    text-align: left !important;
}

.footer-div1-1 img{
    width: 60% !important;
}

.footer-div1 p, .footer-div1 a {
    color: grey !important;
}
.footer-div1 a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
}

.footer-div1 a:hover{
    color: rgb(151, 12, 12) !important;
}

.footer-div1-4{
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    align-items: start !important;
    text-align: left !important;
}


footer .icons{
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: start !important;
    align-items: center !important;
    gap: 20px !important;
   
}
form button:hover{
    background-color:#d1020d !important;
    color: white !important;
    opacity: 1 !important;
}
footer .icons a{
    text-decoration: none !important;
    font-size: x-large !important;
    font-weight: 900  !important;
}


.footer-div2
{
    width: 100% !important;
    height: 20% !important;
    padding: 2% !important;
    border-top: 1px solid rgb(0, 0, 0);
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    text-align: center !important;

}

.footer-div2-1{
    display: flex !important;
    flex-direction: row !important;
    justify-content: start !important;
    align-items: center !important;
    gap: 20px !important;
    text-align: left !important;
}
.footer-div2-1 a {
    text-decoration: none !important;
    color:gray !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    text-transform: capitalize !important;
}
.footer-div2-1 a:hover{
    color: rgb(151, 12, 12) !important;
}
.footer-div2 p{
    color: gray !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    text-transform: capitalize !important;
}
.footer-div2 .pay{
    width: 30% !important;
}
